!!!
%html
  %head
    %script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', type: 'text/javascript'}
  %body
    %input#publish{type: 'button', value: 'Publish'}
    %ul#messages
    :javascript
      var es = new EventSource('/stream');
      es.onmessage = function(e) { 
        $('#messages').append("<li>" + e.data + "</li>") 
      }
      $("#publish").click(function () {
        $.post("/publish")
      })

